html {
    background: #002de5;
}
a {
    color:#fff;
}
a:hover {
    text-decoration:none;
}
body {
    text-align:center;
    color:#fff;
    background: #002de5;
}
#gradient {
    background: #002de5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjJiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDJkZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #0022b4 0%, #002de5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0022b4), color-stop(100%,#002de5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0022b4 0%,#002de5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0022b4 0%,#002de5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0022b4 0%,#002de5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0022b4 0%,#002de5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0022b4', endColorstr='#002de5',GradientType=0 ); /* IE6-8 */
}
h1 {
    font-weight:800;
    font-size:6em;
    margin: 0 0 0.4em;
    padding-top: 0.3em;
    line-height: 1em;
}
#container {
    width:100%;
    margin:0 auto;
    font-family: 'Alegreya Sans', sans-serif;
}
#countdown, #date, #heading-roster {
    font-size:3em;
    font-weight:400;
}
#date, #heading-roster {
    background-color:#E8000D;
    margin-bottom: 0.6em;
    border-top:2px solid #004065;
    border-bottom:2px solid #004065;
}
#heading-days {
    color:#E8000D;
    font-size:1.3em;
}
#numbers {
    width:5em;
    text-align:left;
    margin:0 auto;
}
.number {
    font-weight:800;
    width:1.5em;
    margin-right:0.25em;
    float:left;
    text-align:right;
}

#players {
    font-size:2em;
    text-align:left;
    width:auto;
    margin:0 auto;
}
#players th, #players td {
    padding:0.2em;
}
#players img {
    width:150px;
    height:200px;
    border:1px solid #000;
}
.player-name {
    font-size:1em;
}
.status {
    display:block;
    font-size:0.6em;
}

#copyright {
    font-size:0.7em;
    margin-top:6em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1 {
        font-size:5em;
        padding-top: 0.1em;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    h1 {
        font-size:5em;
        padding-top: 0.1em;
    }
}
