{% assign players = site.players | sort: "number" %}

<table id="players">
    <tbody>
        {% for player in players %}
            {% if player.year == include.current_year AND player.status == include.status %}
                {% if player.status contains include.status %}
                  <tr>
                    <td>
                        <img class="lazy" src="/images/blank.gif" width="150" height="200" data-src="{{ player.image }}">
                    </td>
                    <td class="player">
                        <span class="player-name">
                            {% if player.number and player.number != 99 %}{{ player.number }}{% endif %}
                            {{ player.first_name }} {{ player.last_name }}
                        </span>
                        <span class="status">{{ player.class }}</span>
                        <span class="status">{{ player.hometown }}</span>
                        {% if include.status == "active" %}
                            <span class="status">{{ player.status_reason }}</span>
                        {% else %}
                            <span class="status">{{ player.departing_reason }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
