---
layout: default
---

<!-- returning players -->
<h2 class="text-xl sm:text-4xl rounded-md sm:rounded-2xl text-white text-center py-1 my-2 sm:py-2 sm:my-4 bg-[#E8000D]" id="heading-roster">{{ page.season }} Men's Basketball Roster</h2>

{% include player-list.html current_year=page.current_year status="active" title="Men's Basketball Roster" %}

<!-- leaving / declaring players -->
{% include player-list.html current_year=page.current_year status="declaring" title="Declaring" %}

<!-- leaving / transferring players -->
{% include player-list.html current_year=page.current_year status="departing" title="Departing" %}

<!-- unknown status players -->
{% include player-list.html current_year=page.current_year status="unknown" title="Unknown" %}
