---
layout: default
---

<!-- returning players -->
{% capture page_title %}
    {{ page.season }} Men's Basketball Roster
{% endcapture %}
{% include player-list.html current_year=page.current_year status="active" title=page_title %}

<!-- leaving / declaring players -->
{% include player-list.html current_year=page.current_year status="declaring" title="Declaring" %}

<!-- leaving / transferring players -->
{% include player-list.html current_year=page.current_year status="departing" title="Departing" %}

<!-- unknown status players -->
{% include player-list.html current_year=page.current_year status="unknown" title="Unknown" %}
