---
layout: default
---

{%- comment -%}Active/returning players{%- endcomment -%}
{% capture page_title %}
  {{ page.season }} Men's Basketball Roster
{% endcapture %}

{% include player-list.html
  current_year=page.current_year
  title=page_title
%}

{%- comment -%}Declaring for NBA Draft players{%- endcomment -%}
{% include player-list.html
  current_year=page.current_year
  status="declaring"
  title="Declaring for the NBA Draft"
%}

{%- comment -%}Graduating players{%- endcomment -%}
{% include player-list.html
  current_year=page.current_year
  status="graduating"
  title="Graduating"
%}

{%- comment -%}Transferring players{%- endcomment -%}
{% include player-list.html
  current_year=page.current_year
  status="departing"
  title="Entering the Transfer Portal"
%}

{%- comment -%}Unknown status players{%- endcomment -%}
{% include player-list.html
  current_year=page.current_year
  status="unknown"
  title="Unknown"
%}
