---
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="latenightApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Days until Late Night in the Phog</title>
        <meta name="description" content="Countdown the days until KU Jayhawk Basketball's Late Night in the Phog">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Alegreya+Sans:400,800" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/latenight.css">
        <link rel="preload" as="stylesheet" href="//fonts.googleapis.com/css?family=Alegreya+Sans:400,800">
        <link rel="preload" as="script" href="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        <link rel="preload" as="script" href="/js/plugins.js">
        <link rel="preload" as="script" href="/js/main.js">
        <link type="text/plain" rel="author" href="http://daysuntillatenight.com/humans.txt" />
    </head>
    <body>
        <!--[if lt IE 7]>
        You will have a better experience using this site if you use Firefox or Chrome.
        <![endif]-->
        <div id="container">
            <div id="gradient">
                <h1><span id="heading-days"></span> Days Until Late Night</h1>

                <div id="date" class="when">
                    {{ page.when | default:"TBD" }}
                </div>
                <div id="countdown">
                    <div id="numbers"></div>
                    <div id="tweet">
                        <a href="https://twitter.com/intent/tweet?button_hashtag=kubball" id="tweet-button" class="twitter-hashtag-button" data-text="" data-dnt="true">Tweet this to #kubball</a>
                    </div>
                </div>
            </div>
            <div id="roster">
                <h3 id="heading-roster">{{ page.roster }} Roster</h3>
                <table id="players">
                    <tbody>
                        <!-- leaving / declaring players -->

                        <!-- returning players -->
                        {% assign players = site.players | sort: "last_name", "first" %}
                        {% for player in players %}
                            {% assign current_season = player.years | where: "year", page.current_year | first %}
                            {% if current_season %}
                                <tr>
                                    <td><img class="lazy" src="/images/blank.gif" width="150" height="200" data-src="{{ player.image }}"></td>
                                    <td class="player">
                                        <span class="player-name">{{ player.first_name }} {{ player.last_name }} <small>{{ player.number }}</small></span>
                                        <span class="status">{{ current_season.class }}</span>
                                        <span class="status">{{ player.hometown }}</span>
                                        <span class="status">{{ current_season.status }}</span>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="copyright">
            Maintained/updated by <a href="https://twitter.com/webology">Jeff Triplett</a><br>
            Originally created by <a href="https://twitter.com/johnkary">John Kary</a><br>
            <a href="https://github.com/jefftriplett/daysuntillatenight.com">Source available on GitHub</a><br>
            Not affiliated with the University of Kansas or KU Athletics.
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/ga.js"></script>
    </body>
</html>
